---
import SearchInput from "../components/SearchInput.astro";
import Layout from "../layouts/Layout.astro";
import AvatarWithUsername from "../components/AvatarWithUsername.astro";
import Following from "../components/Following.astro";
---

<Layout title="Welcome to Astro.">
  <SearchInput />
  <section class="w-full h-full grid grid-cols-5 gap-4">
    <section class="col-span-3 bg-slate-300"></section>
    <section class="col-span-2 bg-red-500 p-2">
      <div>
        <AvatarWithUsername />
        <Following />
      </div>
    </section>
  </section>
</Layout>
