<div class="avatar flex flex-col items-center">
  <div class="w-24 rounded-full">
    <img
      src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
    />
  </div>
  <p>Username</p>
</div>
