<div class="stat">
  <div class="stat-title">Notions apprises</div>
  <div class="stat-value text-secondary">44%</div>
  <div class="stat-desc">21% ↗︎ <span class="text-[0.5rem]">(24h)</span></div>
</div>
