---
interface Props {
  title: string;
}
import PanelLeftOpen from "../icons/PanelLeftOpen.astro";
import PanelLeftClose from "../icons/PanelLeftClose.astro";
import User from "../icons/User.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="drawer md:drawer-open" id="drawer-container">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label
          for="my-drawer"
          id="drawer-open"
          class="absolute top-4 left-4 md:hidden cursor-pointer"
        >
          <PanelLeftOpen />
        </label>
        <main class="p-4 text-neutral">
          <slot />
        </main>
      </div>
      <div class="drawer-side box-content rounded-md my-[2vh] mx-2 h-[96vh]">
        <label
          for="my-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"
          style = "opacity: 0;"
          id="drawer-overlay"></label>
        <ul class="menu bg-primary rounded-md text-mindlet-white min-h-full w-40 p-4">
          <label for="my-drawer" id="drawer-close" class="cursor-pointer pb-4">
            <PanelLeftClose />
          </label>
          <li><a><User /> Profil</a></li>
          <li><a>Sidebar Item 2</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>

<script>
  const myDrawer = document.getElementById("my-drawer") as HTMLInputElement;
  const drawerContainer = document.getElementById(
    "drawer-container"
  ) as HTMLDivElement;
  const drawerClose = document.getElementById(
    "drawer-close"
  ) as HTMLLabelElement;
  const drawerOpen = document.getElementById("drawer-open") as HTMLLabelElement;
  const drawerOverlay = document.getElementById(
    "drawer-overlay"
  ) as HTMLLabelElement;

  if (myDrawer && drawerClose && drawerOpen && myDrawer && drawerOverlay) {
    drawerClose.addEventListener("click", () => {
      myDrawer.checked = true;
      drawerContainer?.classList.remove("md:drawer-open");
      drawerOpen?.classList.remove("md:hidden");
      drawerOpen?.classList.remove("hidden");
    });
    drawerOpen.addEventListener("click", () => {
      myDrawer.checked = false;
      drawerContainer?.classList.add("md:drawer-open");
      drawerOpen?.classList.add("hidden");
    });
    drawerOverlay.addEventListener("click", () => {
      myDrawer.checked = true;
      drawerContainer?.classList.remove("md:drawer-open");
      drawerOpen?.classList.remove("md:hidden");
      drawerOpen?.classList.remove("hidden");
    });
  }
</script>

<style is:global>
  @font-face {
    font-family: "raleway";
    src: url("/fonts/raleway/static/Raleway-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "raleway";
    src: url("/fonts/raleway/static/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "raleway";
    src: url("/fonts/raleway/static/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "lt-saeada";
    src: url("/fonts/lt_saeada/LTSaeada-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "lt-saeada";
    src: url("/fonts/lt_saeada/LTSaeada-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "lt-saeada";
    src: url("/fonts/lt_saeada/LTSaeada-ExtraBold.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: "raleway", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "lt-saeada", sans-serif;
  }
</style>
